:root {
  --heading-font-family: "Playfair", serif;
  --default-font-family: "Poppins", serif;
  --branding-color: #53a8b6;
  --secondary-branding-color: #a2a8d3;
  --third-branding-color: #eaf6f6;
}

.content {
  background-image: url("../images/hero2.png");
  height: 320px;
  width: 1440px;
  top: 135px;
}

.navbar-brand {
  font-family: var(--default-font-family);
  color: var(--secondary-branding-color);
}

.img-fluid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 225px 225px;
}

.float-start {
  margin-bottom: 20px;
}

.float-end {
  margin-bottom: 20px;
}

.float-center {
  margin-bottom: 20px;
}

.btn {
  text-align: center;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

h2 {
  line-height: 1.5;
}
p {
  font-family: var(--heading-font-family);
  text-align: center;
  margin-top: 55px;
  color: white;
}

footer .footer-box {
  background: #f8f9fa;
  padding: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-branding-color);
  background: var(--third-branding-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--secondary-branding-color);
}

@media (max-width: 900px) {
  img {
    text-align: center;
  }

  .hero {
    text-align: center;
  }
}

footer {
  font-family: var(--default-font-family);
  text-align: center;
}
